*,
*::before
*::after {
    box-sizing: border-box;
}
ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    font-style: normal;
}

body {
    font-family: Roboto, sans-serif;
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    background-color: #ffffff;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

h1 h2 h3 h4 h5 h6 p {
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.item{
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.item .container {
    border: 1px solid #e7e9fc;
    box-sizing: content-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 autopx;    
}

.tepe {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.tepe .tepe-link {
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.tepe .tepe-link span {
    color: #2e2f42;
}

.tepe .liste_a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
}

.tepe .tepe-link:last-child {
    margin: 0;
}

.tepe .liste_a .tepelink .link {
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    padding: 24px 0;
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.tepe .liste_a .tepelink .link::after{
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.liste_a .tepelink .link:focus,
.liste_a .tepelink .link:hover {
    color: #404bbf;
}

.adres {
    font-style: normal;
}

.adres .liste_b {
    display: flex;
    gap: 40px;
}
.adres .liste_b {
    margin-right: 40px;
}

.email-address {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.liste_b .email:focus,
.liste_b .email:hover {
    color: #404bbf;
}
.phone-number {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.parta {
    background-color: #2e2f42;
    padding: 188px 0;
    text-align: center;
    display: flex;
    flex-shrink: 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.parta .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10;
}

.parta .parta-baslik {
    color: #ffffff;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 48px;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.parta .link-b {
    background-color: #4D5AE5;
    color: #ffffff;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    text-align: center;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    padding-top: 16px;
    padding-bottom: 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.parta .link-b:focus,
.parta .link-b:hover {
    background-color: #404BBF;
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.partb {
    background-color: #f4f4fd;
    padding: 120px 0;
}

.partb .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.partb .liste_c {
    display: flex;
    gap: 24px;
    flex-direction: row;
    flex-shrink: 0;
}

.liste_c .li-a {
    width: calc((100% - 72px)/4);
    flex-shrink: 0;
}
.liste_c-icon{
display: flex;
width: 264px;
height: 112px;
flex-shrink: 0;
justify-content: center;
align-items: center;
background-color: #F4F4FD;
margin-bottom: 8px;
border-radius: 4px;
border: 1px solid #8E8F99;
}

.liste_c .partb-baslik-a {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.partb .liste_c .partb-yazi {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
    height: 104px;
    display: flex;
    box-sizing: content-box;
    flex-direction: row;
}

.partc {
    background-color: #f4f4fd;
    padding: 120px 0;
}

.partc .liste_d .name{
    display: flex;
    gap: 24px;
    padding: 32px 0;
}

.partc .partc-baslik {
    color: #2e2f42;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    display: flex;
    box-sizing: content-box;
    flex-direction: row;
    margin-top: 120px;
    margin-left: 639px;
    margin-top: 0px;
    margin-bottom: 72px;
}

.partc .liste_d {
    display: flex;
    flex-direction: row;
    gap: 24px;  
}
.liste_d .alt-liste{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}
.icons-members {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 0px 32px;
    margin-top: 16px;
}
.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: #F4F4FD;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.team-social-icon {
    width: 20px;
    height: 20px;
    fill: #f4f4fd;
}
.social-link:hover {
    background-color: #404BBF;
    color: #F4F4FD;
}

.social-link:focus {
    background-color: #404BBF;
}
.partc .listed .alt-liste {
    background-color: #ffffff;
    width: calc((100%-72px)/4);
    border-radius: 0px 0px 4px 4px;
}

.partc .listed .alt-liste .name {
    padding: 32px 0;
}

.partc .listed .alt-liste .partc-baslik-a {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
    text-transform: capitalize;
    text-align: center;
}

.partc .listed .altliste .partc-yazi {
    font-weight: 400;
    font-size: 16px;
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.partd {
    padding-top: 120px;
    padding-bottom: 120px;
}

.partd .partd-baslik {
    color: #2e2f42;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    display: flex;
    box-sizing: content-box;
    flex-direction: row;
    margin-bottom: 72px;
    margin-top: 120px;
    margin-left: 639px;
    margin-top: 0px;
}

.partd .liste_e {
    display: flex;
    justify-content: space-between;
    column-gap: 24px;
    row-gap: 48px;
    margin-left: 0px;
    flex-wrap: wrap;
}
.liste_e:hover {
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
 
}
.img-box {
    position: relative;
    overflow: hidden;
}
.text-box {
    position: absolute;
    top: 0;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.liste_e:hover .text-box {
    transform: translateY(0%);
}
.partd .liste_e .list {
    width: calc((100% - 72px)/4);
    flex-shrink: 0;
    flex-basis: 360px;
    position: relative;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
}
.partd .liste_e .list:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.partd .liste_e .name-a {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.liste_e img {
    width: 100%;
    display: block;
    height: auto;
}
.partd .liste_e .altbaslik {
    display: inline-block;
    color: #2e2f42;
    font-weight: 500;    
    text-align: left;
    margin-bottom: 8px;
}

.partd .liste_e .partd-yazi {
    color: #434455;
    text-align: left;
}

.final {
    background-color: #2e2f42;
    padding: 100px 0;
}

.final-link {
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}
.final .container{
    display: flex;
    align-items: baseline;
}

.final .final-link-c {
    color: #f4f4fd;
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.17;
}
.footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: #F4F4FD;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover,
.footer-link:focus {
    background-color: #31d0aa;
}
.footer-icons-members {
    display: flex;
    gap: 16px;
}
.footer-flex {
    width: 264px;
    margin-right: 120px;
    display: flex;
    align-items: baseline;    
    /*
    margin-right: 120px;
    margin-left: 156px;
    */
}
.footer-social {
    fill: #f4f4fd;
}
.text-footer {
    color: #FFFFFF;
    font-family: Roboto;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    margin-bottom: 16px;
}
.final .final-yazi {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    font-size: 16px;
    max-width: 264px;    
}
.final-form{
    display: flex;
    flex-direction: row;
    width: 264px;
    height: 40px;
    gap: 24px;
}
.form-text{
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;  
}
.final-input{
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;    
}
.final-button{
    display: flex;
    min-width: 165px;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;    
}
#plane with the paper{
    width: 24px;
    height: 24;  
}
.plane{
margin-left: 16px;
}
.modal-window{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(46, 47, 66, 0.4);
    visibility: visible;
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-container {
    padding: 72px 24px 24px 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mc-button{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mc-button:hover,
.mc-button:focus{
    background-color: #404bbf;
    border: none;
}
.mc-buttonsvg{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mc-button:hover,
.mc-button:focus{
    fill: #ffffff;
}
.mc-yazi{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.label{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;    
}
.mc-forminput{
    position: relative;
}
.input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding-left: 38px;
    border-radius: 4px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input:focus{
    border-color: #4D5AE5;
}
.form-ikon{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);    
}
.form-ikon:focus{
    fill: #4D5AE5;
}
.mc-formdiv{
    margin-bottom: 8px;
}
.textarea{
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mc-formdivtext{
    margin-bottom: 16px;
}
.textarea:focus{
    border-color: #4D5AE5;
}
.accept{
    margin-bottom: 24px;
}
.accept-input_visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(100%);
    white-space: nowrap;
    border: 0;
}
.accept-label{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;    
}
.form-span{
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;    
}
/*.accept-input_visually-hidden:checked+.accept-label> .form-span {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}*/
.baglanti{
    color: #4d5ae5;    
}
.button{
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
}